* {
  margin: 0;
  padding: 0;
  }

:root {
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;

  --color-brand: #CA3884;
  --color-brand-hover: #A52C6B;

  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --always-white: #FFFFFF;

  --border-primary: #D1D5DB;
  --border-secondary: #B9C2D0;

  --ff-sans: "Inter", serif;
    
  --h1: 700 24px/32px var(--ff-sans);
  --h2: 600 16px/20px var(--ff-sans);
  --text: 500 16px/20px var(--ff-sans);
  --text-link: 500 14px/16px var(--ff-sans);
   
  }

  body {
    font-family: var(--ff-sans);
    background-color: var(--background-primary);
  }
  
#container {
  display: flex ;
  flex-direction: column;
  max-width: 631px;
  height: 606;
  margin:auto;
  margin-top: 62px;
  }

header {
  flex-direction: column;
  display:flex;
  align-items: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#div3 {
  display: flex;
  align-items: center;
}

h1 {
  margin-top: 16px;
}

#barra {
  border-color: var(--border-primary);
  border-style:  solid;
  border-radius: 12px;
  flex-grow: 1;
  height: 44px;
  margin-top: 42px;
  margin-right: 12px;
  font-family: "Inter", sans-serif;
  margin-bottom: 42px;
  font-size: var(--text);
  
}

#barra:hover {
  border-color: var(--border-secondary);
}

#barra::placeholder{
color: var(--border-secondary);
}

#barra:focus {
  border-color: var(--color-brand);
  outline: none;
}

button {
  border:none;
  border-radius: 12px;
  border-color: var(--color-brand);
  width: 160px;
  height: 44px;
  background-color: var(--color-brand);
  color: var(--background-primary);
  font-size: 10px;
  
} 

button:hover {
  background-color: var(--color-brand-hover);
}

ul{
  padding: 0;
  list-style-type: none;
  justify-content: space-between;
}

li {
display: flex;
align-items: center;
margin-top: 12px;
padding-top: 16px;
padding-bottom: 16px;
list-style-type: none;
border-radius: 12px;
background-color: var(--background-secondary);
padding-left: 20px;
padding-right: 20px;
justify-content: space-between; /* Espaça os itens uniformemente */

}

.text {
  flex-grow: 1;
}

.check-box {
  appearance: none; /* Remove a aparência padrão da checkbox */
  max-width: 16px; /* Tamanho personalizado */
  max-height: 16px; /* Tamanho personalizado */
  min-width: 16px; /* Tamanho personalizado */
  min-height: 16px;
  border: 2px solid #ccc; /* Cor da borda */
  border-radius: 4px; /* Bordas arredondas */
  background-color: #fff; /* Cor de fundo */
  margin-right: 20px; /* Aumenta o espaço entre a checkbox e o texto */
  position: relative; /* Necessário para posicionar o "check" */
  cursor: pointer;

}


.check-box:hover{
  border-color: var(--border-secondary);
}

.check-box:checked{
  background-color: var(--color-brand);
  border: none;

}
.check-box:checked::after {
  content: '✓'; /* Adiciona um símbolo de check */
  position: absolute; /* Permite que o símbolo seja posicionado */
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  color: #ffffff; /* Cor do símbolo (branco) */
  font-size: 16px; /* Tamanho do símbolo */
  transform: translate(-50%, -50%); /* Centraliza o símbolo no checkbox */
  pointer-events: none; /* Impede que o "check" interfira na interação com a checkbox */
}


.delete-icon {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 20px; /* Tamanho do ícone */
   /* Espaçamento entre o texto e o ícone */
  
}

.delete-icon:hover {
  color: #c0392b; /* Cor mais escura ao passar o mouse */
}


.alerta {
  background-color: #C93847;
  color: var(--always-white);
  padding: 12px;
  margin-top: 36px;
  border: 1px solid black;
  border-radius: 12px;
  font-family: inherit;
  font-size: var(--text-link);
  font-weight: bold;
  width: 90%; /* Ajusta a largura para 90% da tela */
  max-width: 627px; /* Limita a largura máxima do alerta */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
  text-align: center; /* Centraliza o texto */
  box-sizing: border-box;
}

.alerta img {
  
  filter: brightness(0) invert(1); /* Torna a imagem branca */
}

@media (max-width:768px) {

  #container{
    margin-left: 32px;
    margin-right: 32px;
  }

  header{
    display: none;
  }

  #div3{
    flex-direction: column;
    align-items: stretch;
  }

  button, #barra{
    width: 100%;
  }
  #barra{
    margin-bottom: 16px;
    margin-top: 44px;
  }
  button{
    margin-bottom: 40px;
  }

  h1{
    font-size: 30px;
   
  }

  }






   